*{
    margin: 0px;
    padding: 0px;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
    display: flex;
    
}

.navbar{
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding:0 140px;
    font-size:larger;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: fixed;
    background-color: white;
    top: 0;
    width: 81%;
}
.list{
    justify-content: center;
    display: flex;
    list-style-type: none;
    gap: 50px;
}
li a{
    text-decoration: none;
    color: black;
}
.details{
    width: 50%;
    padding-left: 70px;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    padding-top: 90px;
    margin-left: 5%;
}
.photo{
    width: 50%;

}
.del{
    width: 60%;
    border-radius: 50%;
    
}
#hero{
    margin-top: 44px;
    height: 65vh;
}
.border{
    margin-top: 10%;
}

.btn{
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 7%;
    height: 40px;
    width: 140px;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    
}

.btn:active {
      background-color: #0362fc;
    }
a{
    cursor: pointer;
}
.logo{
    height: 25px;
    filter: invert(50%) sepia(0%) saturate(0%) brightness(80%) contrast(90%);
}
/* .logo:hover{
    height: 27px;
    filter: invert(50%) sepia(0%) saturate(0%) brightness(80%) contrast(90%);
} */

.hjk{
    margin-left: 5%;
    padding-left: 70px;
}
.ftg{
    gap: 30px;

}
.para{
    font-size:medium;
    width: 39%;
    padding-top: 30px;
    font-weight: 300;
}
.about-photo{
    width: 40%;
}
.thd{
    width: 300px;
}

.child3{
     width: 20%;
     padding-top:90px;
}
.details2{

    padding-left: 70px;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    padding-top: 90px;
    margin-left: 5%;
}
#about {
  position: relative; /* important: create positioning context */
  display: flex;
  height: 80vh;
  margin-top: 50px;
}



.child2 {
  position: absolute;
  top: 0;
  right: 740px;
  z-index: 1; /* place image behind or in front depending on design */
  pointer-events: none; /* optional: allows clicks to pass through */
}

.child2 img {
  width: 60rem; /* adjust size */
}

.child3 img{
    width: 3rem;
}
.card{
    width: 400px;
    gap: 20px;
    margin-top: 60px;
}
#skill{
    margin-top: 50px;
}
.skll{
    justify-content: center;
}
.skll img{
    width: 40rem;
}
.nlk{
    width: 14px;
}
.pat{
   
  display:flex;
  gap:8px;
  width: 120px;
}
.klk{
     margin-top: 20px;
     gap: 24px;
}
.cpp{
    color:black;
    font-weight: 400;
}
.ch1{
	font-size:20px;
}
.ch2{
  color: blue;
  font-weight:300;
  font-size: 20px;
}
p{
    font-weight:300;
    font-size: 20px;
    color:black;
}